/* common settings 314 */

body {
	font-family: "Arial";
	font-size: 0.8em;
	margin-top: 0px;
	margin-bottom: 30px;
	background-image: url(../img/background.gif);
	background-repeat: repeat-x;
	padding: 10px;
}
hr {
	border: 0px solid #aaaaaa;
	background-color: #aaaaaa;
	height: 1px;
}
a:link {
	color: #cc0000;
	text-decoration: none;
}
a:visited {
	color: #cc0000;
	text-decoration: none;
}
a:focus {
	color: #cc0000;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
	text-decoration: underline;
}
a:active {
	color: #cc0000;
	text-decoration: none;
}
h1 {
	color: #111111;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
}
h2 {
	color: #111111;
	font-size: 1.6em;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 0;
}
h3 {
	color: #333333;
}
.youtube {
	border: 1px solid #aaaaaa;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
div.sa_demo_contentScreen {
	background-color: #ffffff;
	margin: 0 5px 1em 0;
	padding: 0px 8px 8px 8px;
	margin: 10px 40px 40px 5px;
	width: 580px;
}
div.sa_demo_headerScreen {
	border: #e6e6e6 2px double;
	background-color: #ffffff;
	padding: 10px 10px 0px 10px;
	height: 60px;
	margin: 70px 0 0px 0;
	width: 580px;
}
/* end common settings 314 */

#nav {
	margin: 0;
	list-style: none;
	outline: none;
}

#nav>li {
	outline: none;
}

#nav div {
	outline: none;
}

#nav li {
	position: relative;
	float: left;
	padding: 7px 12px 6px 12px;
	outline: inherit;
}

#nav li:focus {
	background-color: #FFFFFF;
}

#nav div:focus {
	background-color: #FFFFFF;	
}

#nav ul {
	position: absolute;
	top: 30px;
	left: 10px;
	margin: 0;
	padding: 0px;
	list-style: none;
	width: 136px;
	border: 1px solid #AAA;
	background: #efefef;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#nav .open {
	display: block;
}

#nav .close {
	display: none;
}

#nav ul li {
	float: none;
	padding: 1px 1px 1px 3px;
}

#nav ul li a {
	width: 125px;
	_width: 127px;
	padding: 5px;
	display: block;
	_float: left;
	font-weight: normal;
}

#nav ul ul {
	padding: 0px;
	left: 136px;
	_left: 0;
	top: 10px;
}

#nav_wrapper {
	height: 30px;
	position: relative;
	background-color: #efefef;
	border: 1px #aaaaaa solid;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	background-image: url(../img/verlauf.png);
	background-repeat: repeat-x;
	background-position: center center;
}

#nav .focus {
	outline: none;
	background-color: #FFFFFF;
}

#nav .activeItem {
	outline: none;
	border: 2px dotted #cc0000;
	margin: -2px -2px -2px -2px;
	background-color: #FFFFFF;
}


#nav ul li .arrow {
	position: absolute;
	right: 5px;	
	top: 5px;
	background-image: url(../img/menuArrow.png);
	width:5px;
	height:7px;
}